@import './colors';

body {
  margin: 0;
  font-family: Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.h-100vh {
  height: 100vh;
}

.text-gray {
  color: #616161;
}

.text-inactive {
  color: $inactive;
}

.text-dark-gray {
  color: $dark-gray;
}

.bg-eee {
  background-color: #eeeeee;
}

.bg-light-gray {
  background-color: $light-gray;
}

.wallet-avatar {
  right: 24px;
}

.fw-medium {
  font-weight: 500;
}

.btn {
  height: 80px;
}

.rounded-16 {
  border-radius: 16px;
}

.pointer {
  cursor: pointer;
}

.app-input {
  background-color: $input-color;
  border-radius: 12px;
  height: 64px;
  border: none;
  padding: 0 16px;
}

.selecting-coin {
  transition: transform 0.3s;
  border-radius: 50%;
  border: 2px solid transparent;

  &:hover {
    transform: scale(1.1);
  }

  &.selected-coin {
    transform: scale(1.2);
    border: 3px solid $active-step;
  }
}
